$breakpoints:(
    small : 320px,
    medium : 768px,
    large : 1400px, 
)  !default;

@mixin mobile
{
    @media screen and (min-width: map-get($breakpoints, small))
    {
        @content;
    }
}

@mixin tablette
{
    @media screen and (min-width: map-get($breakpoints, medium))
    {
        @content;
    }
}

@mixin desck
{
    @media screen and (min-width: map-get($breakpoints, large))
    {
        @content;
    }
}



