@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* couleurs primaires*/
/* couleurs gray*/
/* font family*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.heading {
  margin-bottom: 0;
  height: 63px;
  /*
    @include tablette {
     // display: block;
      img{
       // @include center;
      }
    }
  */
}
.heading img {
  display: block;
  margin: auto;
  width: 162px;
  height: 44px;
  padding-top: 18px;
}
.heading i {
  position: absolute;
  height: 17px;
  width: 19px;
  top: 21px;
  left: 24px;
}
@media screen and (min-width: 992px) {
  .heading {
    width: 1445px;
    height: 76px;
  }
  .heading img {
    width: 200px;
    height: 54px;
  }
  .heading i {
    top: 25px;
  }
}

/**
  .head{
    @include center-flex;
    //height: 63px;
    img{ 
        height: 44px;
        width: 162px;        
    }
    @include desk{
        margin-bottom: 0px;
        height: 100px;
        img{ 
            height: 54px;
            width: 200px;        
        }
    }
}
/**/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  border: none;
  text-decoration: none;
}

#page {
  margin: 0 auto;
  max-width: 767px;
  height: 100%;
  padding: 0;
  font-family: Roboto;
}
@media screen and (min-width: 768px) {
  #page {
    max-width: 991px;
  }
}
@media screen and (min-width: 992px) {
  #page {
    max-width: 1440px;
    overflow-x: scroll;
  }
}

.letter-space {
  letter-spacing: 0em;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-arwd {
  display: flex;
  justify-content: space-around;
}

.flex-alignement {
  display: flex;
}

.icon-like {
  position: relative;
  cursor: pointer;
}

.icon-like:before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon-like:after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: text;
  -webkit-background-clip: text; /* Pour une compatibilité avec les navigateurs WebKit */
  color: transparent;
  transition: width 0.3s ease;
}

.icon-like:hover:after {
  width: 100%;
}

.icon-like:focus {
  outline: none;
}

.icon-like:active:after {
  width: 100%;
  transition: none;
}

/*
.fa-regular.fa-heart {
	position: relative;
	cursor: pointer;
}

.fa-regular.fa-heart:before {
	content: "\f004";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
}

.fa-regular.fa-heart:after {
	content: "\f004";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
	background-clip: text;
	-webkit-background-clip: text; /* Pour une compatibilité avec les navigateurs WebKit */
/*
	color: transparent;
	transition: width 0.3s ease;

}

.fa-regular.fa-heart:hover:after {
	width: 100%;
}

.fa-regular.fa-heart:focus {
	outline: none;
}

.fa-regular.fa-heart:active:after {
	width: 100%;
	transition: none;
}
*/
/* couleurs primaires*/
/* couleurs gray*/
/* font family*/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  border: none;
  text-decoration: none;
}

#page {
  margin: 0 auto;
  max-width: 767px;
  height: 100%;
  padding: 0;
  font-family: Roboto;
}
@media screen and (min-width: 768px) {
  #page {
    max-width: 991px;
  }
}
@media screen and (min-width: 992px) {
  #page {
    max-width: 1440px;
    overflow-x: scroll;
  }
}

.letter-space {
  letter-spacing: 0em;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-arwd {
  display: flex;
  justify-content: space-around;
}

.flex-alignement {
  display: flex;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes appar {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appartX {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes apparition-bloc {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slidein {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(30px);
  }
}
/* animation du loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  89% {
    opacity: 0.5;
    z-index: 0.5;
  }
  99% {
    opacity: 0.1;
    z-index: 0.1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes rotate-a {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    opacity: 0;
  }
}
@keyframes rotate-b {
  0% {
    transform: rotateX(55deg) rotateY(15deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(55deg) rotateY(15deg) rotateZ(0deg);
    opacity: 0;
  }
}
@keyframes rotate-c {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(15deg) rotateZ(0deg);
    opacity: 0;
  }
}
/**/
/**/
.icon-like {
  position: relative;
  cursor: pointer;
}

.icon-like:before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon-like:after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: text;
  -webkit-background-clip: text; /* Pour une compatibilité avec les navigateurs WebKit */
  color: transparent;
  transition: width 0.3s ease;
}

.icon-like:hover:after {
  width: 100%;
}

.icon-like:focus {
  outline: none;
}

.icon-like:active:after {
  width: 100%;
  transition: none;
}

/*
.fa-regular.fa-heart {
	position: relative;
	cursor: pointer;
}

.fa-regular.fa-heart:before {
	content: "\f004";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
}

.fa-regular.fa-heart:after {
	content: "\f004";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
	background-clip: text;
	-webkit-background-clip: text; /* Pour une compatibilité avec les navigateurs WebKit */
/*
	color: transparent;
	transition: width 0.3s ease;

}

.fa-regular.fa-heart:hover:after {
	width: 100%;
}

.fa-regular.fa-heart:focus {
	outline: none;
}

.fa-regular.fa-heart:active:after {
	width: 100%;
	transition: none;
}
*/
.card__box {
  position: relative;
  cursor: pointer;
}

.card__box:before {
  content: "";
  width: 0%;
}

.card__box:after {
  content: "\f058";
  visibility: hidden;
  font-family: "Font Awesome 5 Free";
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: width 0.3s ease;
  color: white;
}

.card__box:hover:after {
  width: 15%;
  visibility: visible;
}

.card__box:active:after {
  width: 15%;
  transition: none;
}

/*cacher le input*/
.card__checkbox {
  width: 0;
  height: 0;
  position: relative;
  left: -3000px;
}

/* */
/**/
body {
  font-family: Roboto;
}

.head {
  height: 63px;
}
.head img {
  display: block;
  margin: auto;
  width: 162px;
  height: 44px;
  padding-top: 20px;
}
.head i {
  position: absolute;
  height: 17px;
  width: 19px;
  top: 21px;
  left: 24px;
}
@media screen and (min-width: 992px) {
  .head {
    height: 76px;
  }
  .head img {
    width: 200px;
    height: 54px;
  }
  .head i {
    top: 25px;
  }
}

.menu-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}
@media screen and (min-width: 768px) {
  .menu-img img {
    width: 100%;
    height: 375px;
  }
}
@media screen and (min-width: 992px) {
  .menu-img img {
    width: 100%;
    height: 323px;
  }
}

.menu-restaurant {
  position: relative;
  background-color: #EAEAEA;
  border-radius: 40px 40px 0 0;
  top: -60px;
}
.menu-restaurant__div {
  padding: 0 2%;
}
@media screen and (min-width: 768px) {
  .menu-restaurant__div {
    padding: 0 3%;
  }
}
@media screen and (min-width: 992px) {
  .menu-restaurant__div {
    padding: 0 12%;
  }
}
.menu-restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: bold;
}
.menu-restaurant__header h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  white-space: nowrap;
  margin-right: 20px;
}
.menu-restaurant__header i {
  margin-right: 25px;
  width: 30px;
  height: 25px;
}
.menu-restaurant .bloc-menu__entree {
  margin-bottom: 10px;
  opacity: 0;
  animation: appar 3s 5ms ease-in-out forwards;
}
.menu-restaurant .bloc-menu__plats {
  margin-bottom: 10px;
  opacity: 0;
  animation: appar 6s 5ms ease-in-out forwards;
}
.menu-restaurant .bloc-menu__desserts {
  opacity: 0;
  animation: appar 9s 5ms ease-in-out forwards;
}

article h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 30px 0px 20px 0;
  position: relative;
  opacity: 0;
  animation: jump 2s ease-in forwards;
}
article h2::after {
  content: "";
  color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
article h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-top: 10px;
  white-space: nowrap;
}
article p {
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  margin-right: 20px;
  display: inline block;
}

.card {
  opacity: 0;
  animation: appar ease-in-out forwards;
  position: relative;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 16px;
  cursor: pointer;
  /**/
  /**/
}
.card h3 {
  margin-top: 10px;
}
.card p {
  color: #353535;
}
.card__img-box {
  height: 230px;
}
.card__desc-box {
  padding-right: 20px;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card__titre-txt {
  margin-left: 10px;
}
.card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
.card .icon-like {
  width: 22px;
  height: 21px;
}
.card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.card__titre-desc {
  padding-left: 10px;
  max-width: 20%;
}
.card__titre-desc h3, .card__titre-desc p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__prix {
  position: absolute;
  right: 30px;
}
.card:hover .card__prix {
  margin-right: 13%;
  transition: margin-left 0.3s ease;
}
@media screen and (min-width: 768px) {
  .card__titre-desc {
    width: 60%;
  }
  .card__titre-desc h3, .card__titre-desc p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  display: block;
  margin: 20px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  transition: background-image 400ms;
  transition: box-shadow 500ms;
  margin: 60px auto;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .menu-restaurant {
    margin: 0 50px;
    border-radius: 30px 30px 0 0;
  }
  .menu-restaurant__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-restaurant__header i {
    margin-left: 25px;
  }
  .menu-restaurant article {
    display: grid;
    grid-template-rows: auto;
  }
  .menu-restaurant .bloc-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .menu-restaurant .bloc-menu__entree {
    grid-column: 1/-1;
    display: block;
    margin: auto;
    width: 75%;
  }
  .menu-restaurant .bloc-menu__plats {
    grid-column: 2/1;
    opacity: 0;
    animation: appar 3s 1ms ease-in-out forwards;
  }
  .menu-restaurant .bloc-menu__desserts {
    grid-column: 2/3;
    opacity: 0;
    animation: appar 5s 1ms ease-in-out forwards;
  }
}
@media screen and (min-width: 992px) {
  .menu-restaurant {
    margin: 0 193px;
    border-radius: 20px 20px 0 0;
  }
  .menu-restaurant__header {
    justify-content: center;
  }
  .menu-restaurant__header i {
    margin-left: 16px;
  }
  .menu-restaurant .bloc-menu {
    display: block;
  }
  .menu-restaurant .bloc-menu__entree {
    width: 100%;
  }
  .menu-restaurant .bloc-menu__desserts {
    display: block;
  }
}

/* */
.section__footer {
  position: relative;
  top: -60px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #ffffff;
  /* */
  /**/
}
.section__footer .header__logo {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: bold;
}
.section__footer a {
  color: #ffffff;
}
.section__footer i {
  margin-right: 20px;
}
.section__footer .header__logo {
  margin-left: 0;
  margin-bottom: 16px;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: bold;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
}
.section__footer .footer__icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.section__footer .footer__contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .section__footer {
    padding-left: 40px;
    padding-right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .section__footer .header__logo {
    order: 2;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .section__footer {
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
  }
  .section__footer .header__logo {
    margin-left: 35px;
    order: 2;
  }
  .section__footer .footer__icon {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .section__footer .footer__contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

/* couleurs primaires*/
/* couleurs gray*/
/* font family*/
.heading {
  margin-bottom: 0;
  height: 63px;
  /*
    @include tablette {
     // display: block;
      img{
       // @include center;
      }
    }
  */
}
.heading img {
  display: block;
  margin: auto;
  width: 162px;
  height: 44px;
  padding-top: 18px;
}
.heading i {
  position: absolute;
  height: 17px;
  width: 19px;
  top: 21px;
  left: 24px;
}
@media screen and (min-width: 992px) {
  .heading {
    width: 1445px;
    height: 76px;
  }
  .heading img {
    width: 200px;
    height: 54px;
  }
  .heading i {
    top: 25px;
  }
}

/**
  .head{
    @include center-flex;
    //height: 63px;
    img{ 
        height: 44px;
        width: 162px;        
    }
    @include desk{
        margin-bottom: 0px;
        height: 100px;
        img{ 
            height: 54px;
            width: 200px;        
        }
    }
}
/**/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  border: none;
  text-decoration: none;
}

#page {
  margin: 0 auto;
  max-width: 767px;
  height: 100%;
  padding: 0;
  font-family: Roboto;
}
@media screen and (min-width: 768px) {
  #page {
    max-width: 991px;
  }
}
@media screen and (min-width: 992px) {
  #page {
    max-width: 1440px;
    overflow-x: scroll;
  }
}

.letter-space {
  letter-spacing: 0em;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-arwd {
  display: flex;
  justify-content: space-around;
}

.flex-alignement {
  display: flex;
}

/* footer */
.section__footer {
  position: relative;
  top: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #ffffff;
  /* */
  /**/
}
.section__footer .header__logo {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: bold;
}
.section__footer a {
  color: #ffffff;
}
.section__footer i {
  margin-right: 20px;
}
.section__footer .header__logo {
  margin-left: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
}
.section__footer .footer__icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.section__footer .footer__contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .section__footer {
    top: -10px;
    padding-left: 40px;
    padding-right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .section__footer .header__logo {
    order: 2;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .section__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .section__footer .header__logo {
    margin-left: 35px;
    order: 2;
  }
  .section__footer .footer__icon {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .section__footer .footer__contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

h1,
h2 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.formulaire {
  color: #353535;
  background-color: #D2D2D2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.formulaire input {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #353535;
  background-color: #D2D2D2;
}
.formulaire i {
  margin-right: 20px;
  margin-left: 45px;
}

.section__reservation {
  background-color: #EAEAEA;
  text-align: center;
}
.section__reservation .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  display: block;
  margin: 20px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  transition: background-image 400ms;
  transition: box-shadow 500ms;
  margin: 30px auto;
}
.section__reservation .btn:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.section__reservation span {
  font-weight: font(400, 16px, 20px);
  font-family: "Shrikhand", sans-serif;
  color: #9356DC;
}

.section__fonctionnement .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__fonctionnement .card h3 {
  margin-top: 10px;
}
.section__fonctionnement .card p {
  color: #353535;
}
.section__fonctionnement .card__img-box {
  height: 230px;
}
.section__fonctionnement .card__desc-box {
  padding-right: 20px;
}
.section__fonctionnement .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__fonctionnement .card__titre-txt {
  margin-left: 10px;
}
.section__fonctionnement .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__fonctionnement .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
.section__fonctionnement .card .icon-like {
  width: 22px;
  height: 21px;
}
.section__fonctionnement .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.section__fonctionnement .fonct-choix {
  background-color: #EAEAEA;
  height: 70px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.section__fonctionnement .fonct-choix__cercle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 100%;
  background-color: #9356DC;
  color: #ffffff;
  padding: 3px 6px;
}
.section__fonctionnement .fonct-choix__icon {
  margin: 18px;
  margin-top: 25px;
  color: #353535;
}
.section__fonctionnement .fonct-choix:hover {
  cursor: pointer;
  background-color: #F5EDFF;
}
.section__fonctionnement .fonct-choix:hover .fonct-choix__icon {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .section__fonctionnement {
    padding: 0 40px;
    margin: 0;
  }
  .section__fonctionnement h2 {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .section__fonctionnement .fonctionnement__choix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
  .section__fonctionnement .fonctionnement__choix div:nth-child(3) {
    grid-column: 1/-1;
    margin: 25px auto;
  }
  .section__fonctionnement .fonctionnement__choix .fonct-choix {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .section__fonctionnement {
    /**/
    /**/
    padding: 0 180px;
    height: 240px;
  }
  .section__fonctionnement h2 {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    margin-bottom: -20px;
  }
  .section__fonctionnement .fonctionnement__choix {
    display: flex;
    gap: 35px;
    /*  */
    /* */
  }
  .section__fonctionnement .fonctionnement__choix div:nth-child(3) {
    display: inline;
    margin: 0;
  }
  .section__fonctionnement .fonctionnement__choix .fonct-choix {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 323px;
  }
}

@media screen and (min-width: 992px) {
  .formulaire,
  .section__reservation {
    max-width: 1445px;
  }
}

.section__fonctionnement,
.section__restaurant {
  margin: 0 16px;
}
@media screen and (min-width: 768px) {
  .section__fonctionnement,
  .section__restaurant {
    margin: 0;
  }
}

.section__restaurant {
  padding-top: 40px;
}
.section__restaurant .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__restaurant .card h3 {
  margin-top: 10px;
}
.section__restaurant .card p {
  color: #353535;
}
.section__restaurant .card__img-box {
  height: 230px;
}
.section__restaurant .card__desc-box {
  padding-right: 20px;
}
.section__restaurant .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__restaurant .card__titre-txt {
  margin-left: 10px;
}
.section__restaurant .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__restaurant .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
.section__restaurant .card .icon-like {
  width: 22px;
  height: 21px;
}
.section__restaurant .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.section__restaurant .card .icon-like {
  margin-top: 16px;
}
.section__restaurant article {
  padding-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section__restaurant {
    background-color: #EAEAEA;
    padding: 0 43px;
    margin-top: 25px;
    padding-bottom: 40px;
    /*  .card {
            @include card;
            &__img {                
                width: 100%;
            }
        }*/
  }
  .section__restaurant .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media screen and (min-width: 992px) {
  .section__restaurant {
    padding: 0px 193px;
    /* */
    /**/
  }
  .section__restaurant .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .section__restaurant h2 {
    grid-column: 1/-1;
  }
  .section__restaurant .card {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .section__restaurant .card h3 {
    margin-top: 10px;
  }
  .section__restaurant .card p {
    color: #353535;
  }
  .section__restaurant .card__img-box {
    height: 230px;
  }
  .section__restaurant .card__desc-box {
    padding-right: 20px;
  }
  .section__restaurant .card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .section__restaurant .card__titre-txt {
    margin-left: 10px;
  }
  .section__restaurant .card__titre {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .section__restaurant .card__description {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
  }
  .section__restaurant .card .icon-like {
    width: 22px;
    height: 21px;
  }
  .section__restaurant .card__new {
    background-color: #99E2D0;
    position: absolute;
    padding: 5px 9px;
    border-radius: 2px;
    right: 20px;
    top: 25px;
  }
  .section__restaurant .card__img {
    width: 355px;
  }
}

/**/
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes appar {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appartX {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes apparition-bloc {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slidein {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(30px);
  }
}
/* animation du loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  89% {
    opacity: 0.5;
    z-index: 0.5;
  }
  99% {
    opacity: 0.1;
    z-index: 0.1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes rotate-a {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    opacity: 0;
  }
}
@keyframes rotate-b {
  0% {
    transform: rotateX(55deg) rotateY(15deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(55deg) rotateY(15deg) rotateZ(0deg);
    opacity: 0;
  }
}
@keyframes rotate-c {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(15deg) rotateZ(0deg);
    opacity: 0;
  }
}
/**/
/**/
.load {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  background-color: rgba(210, 210, 210, 0.8784313725);
  animation: loader 4s ease-out forwards;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /**/
}
.load__rond {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 0px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 50%);
}
.load__rond:nth-child(1) {
  border-top-width: 15px;
  border-color: #FF79DA;
  animation: rotate-a 2s linear both;
}
.load__rond:nth-child(2) {
  border-right-width: 15px;
  border-color: #9356DC;
  animation: rotate-b 2s linear both;
}
.load__rond:nth-child(3) {
  border-left-width: 15px;
  border-color: #99E2D0;
  animation: rotate-c 2s linear both;
}
.load .header__logo {
  position: relative;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.load .header__logo i {
  width: 20px;
  height: 18px;
  position: absolute;
  padding: 0px 35px;
}

/*   .menu-restaurant {

    @include tablette {
        margin: 0 70px;
        border-radius: 20px 20px 0 0;

        &__div {
            padding: 0 80px;
        }

        &__header {
            justify-content: center;

            i {
                padding: 0px 24px;
                margin-bottom: -12px;
            }
        }
        article{

        }
        .bloc-menu{
            margin: 0 50px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            column-gap: 40px;

            .bloc-menu__desserts{
                grid-column: 1 / -1;
                @include center;   
            }
        }


    }

    //  medias query pour desktop
    @include desck {

        margin: 0 193px;
        border-radius: 20px 20px 0 0;
        article{
            margin: 0 120px;
        }

        &__header {
            margin-top: 50px;
            justify-content: center;

            i {
                padding: 0px 24px;
                margin-bottom: -12px;
            }
        }


    }

}*/
/* footer */
.section__footer {
  position: relative;
  top: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #ffffff;
  /* */
  /**/
}
.section__footer .header__logo {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: bold;
}
.section__footer a {
  color: #ffffff;
}
.section__footer i {
  margin-right: 20px;
}
.section__footer .header__logo {
  margin-left: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
}
.section__footer .footer__icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.section__footer .footer__contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .section__footer {
    top: -10px;
    padding-left: 40px;
    padding-right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .section__footer .header__logo {
    order: 2;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .section__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .section__footer .header__logo {
    margin-left: 35px;
    order: 2;
  }
  .section__footer .footer__icon {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .section__footer .footer__contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}/*# sourceMappingURL=main.css.map */