 /*   .menu-restaurant {

    @include tablette {
        margin: 0 70px;
        border-radius: 20px 20px 0 0;

        &__div {
            padding: 0 80px;
        }

        &__header {
            justify-content: center;

            i {
                padding: 0px 24px;
                margin-bottom: -12px;
            }
        }
        article{

        }
        .bloc-menu{
            margin: 0 50px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            column-gap: 40px;

            .bloc-menu__desserts{
                grid-column: 1 / -1;
                @include center;   
            }
        }


    }

    //  medias query pour desktop
    @include desck {

        margin: 0 193px;
        border-radius: 20px 20px 0 0;
        article{
            margin: 0 120px;
        }

        &__header {
            margin-top: 50px;
            justify-content: center;

            i {
                padding: 0px 24px;
                margin-bottom: -12px;
            }
        }


    }

}*/
