@import "./utils/vars";
@import "./utils/mixins";
@import "./breakpoints";
@import "./components/buttons";
@import "./components/cards";
@import "./layouts/body";
@import "animation";
@import "./components/coeur";
@import "./components/checkbox";
//@import "./components/header";

body {
  @include font-fam-body;
}

.head {
  // position: relative;
  height: 63px;

  img {
    @include center;
    width: 162px;
    height: 44px;
    padding-top: 20px;
  }

  i {
    position: absolute;
    height: 17px;
    width: 19px;
    top: 21px;
    left: 24px;
  }


  @include desck {
    height: 76px;

    img {
      width: 200px;
      height: 54px;
    }

    i {
      top: 25px;
    }

  }

}

.menu-img {
  img {
    object-fit: cover;
    width: 100%;
    height: 275px;
  }

  @include tablette {
    img {
      width: 100%;
      height: 375px;
    }
  }

  @include desck {
    img {
      width: 100%;
      height: 323px;
    }
  }

}

.menu-restaurant {
  position: relative;
  background-color: $color-gray-2;
  border-radius: 40px 40px 0 0;
  top: -60px;

  &__div {
    padding: 0 2%;

    @include tablette {
      padding: 0 3%;
    }

    @include desck {
      padding: 0 12%;
    }
  }

  &__header {
    @include flex-btwn;
    padding-top: 50px;
    @include font-fam-header;

    h1 {
      @include font(400, 28px, 41px);
      white-space: nowrap;
      margin-right: 20px;
    }

    i {
      margin-right: 25px;
      width: 30px;
      height: 25px;
    }
  }

  .bloc-menu__entree {
    margin-bottom: 10px;
    opacity: 0;
    animation: appar 3s 5ms ease-in-out forwards;
  }

  .bloc-menu__plats {
    margin-bottom: 10px;
    opacity: 0;
    animation: appar 6s 5ms ease-in-out forwards;
  }

  .bloc-menu__desserts {
    opacity: 0;
    animation: appar 9s 5ms ease-in-out forwards;
  }
}

article {
  h2 {
    text-transform: uppercase;
    @include font(300, 16px, 19px);
    margin: 30px 0px 20px 0;
    position: relative;
    opacity: 0;
    animation: jump 2s ease-in forwards;
  }

  // surligner
  h2::after {
    content: "";
    color: $terti-color;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 40px;
    border-bottom: 3px solid $terti-color;
  }

  h3 {
    @include font(500, 18px, 21px);
    padding-top: 10px;
    //font-weight: $font-weight-bold;
    white-space: nowrap;
  }

  p {
    @include font(300, 15px, 17px);
    margin-right: 20px;
    display: inline block;
  }
}

.card {
  opacity: 0;
  animation: appar ease-in-out forwards;
  position: relative;
  @include card;
  margin-bottom: 16px;
  cursor: pointer;

  /**/
  &__titre-desc {
    padding-left: 10px;
    max-width: 20%;
    h3,p{
    @include txt-ellipsis;
    }
   

  }

  /**/

  &__prix {
    position: absolute;
    right: 30px;
    // font-weight: $font-weight-bold;
  }

  &:hover &__prix {
    margin-right: 13%;
    transition: margin-left 0.3s ease;
  }
  @include tablette{
  &__titre-desc {
    width: 60%;
    h3,p{
    @include txt-ellipsis;
    }
  }
}
}

//@include pour le bouton

.btn {
  @include button($color-txt, $hover-color);
  margin: 60px auto;

}



// medias querys
.menu-restaurant {
  @include tablette {
    margin: 0 50px;
    border-radius: 30px 30px 0 0;

    &__header {
      @include center-flex;

      i {
        margin-left: 25px;
      }
    }

    article {
      display: grid;
      grid-template-rows: auto;
    }

    .bloc-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
        
     
    }
    .bloc-menu__entree {
     grid-column: 1 / -1;  
     @include center;
     width: 75%;
    }

    .bloc-menu__plats {
      grid-column: 2 / 1; 
    
      opacity: 0;
      animation: appar 3s 1ms ease-in-out forwards;
    }

    .bloc-menu__desserts {  
      grid-column: 2 / 3;   
      opacity: 0;
      animation: appar 5s 1ms ease-in-out forwards;
    }
  
  }

  //  medias query pour desktop
  @include desck {
    // margin: 0 193px;
    margin: 0 193px;
    border-radius: 20px 20px 0 0;

    &__header {
      justify-content: center;

      i {
        margin-left: 16px;
      }
    }  

    .bloc-menu {
      display: block;
    }

    .bloc-menu__entree {
      width: 100%;

    }

    .bloc-menu__desserts {
      display: block;
    }
  }
}

// footer
/* */
.section__footer {
  position: relative;
  top: -60px;
  padding-left: $margin-bor;
  padding-top: $margin-bor;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;

  @include footer;

  a {
    color: $color-txt;
  }

  i {
    margin-right: 20px;
  }

  .header__logo {
    margin-left: 0;
    margin-bottom: 16px;
    @include font-fam-header;
    @include font(400, 18px, 27px);
    @include font-style;
  }

  .footer__icon {
    @include font(500, 16px, 18px);
  }

  .footer__contact {
    @include font(400, 16px, 18px);
  }

  @include tablette {
    padding-left: 40px;
    padding-right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    .header__logo {
      // @include center;
      order: 2;
      margin-right: 0;
    }
  }

  @include desck {
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;

    .header__logo {
      margin-left: 35px;
      order: 2;
    }

    .footer__icon {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    .footer__contact {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
  }
}