@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.heading img {
  height: 44px;
  width: 162px;
}
.heading i {
  position: relative;
  left: -46px;
}

body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  border: none;
  text-decoration: none;
}

#page {
  max-width: 767px;
  padding: 0;
  margin: 0;
}

.letter-space {
  letter-spacing: 0em;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-arwd {
  display: flex;
  justify-content: space-around;
}

.flex-alignement {
  display: flex;
}

footer {
  padding-left: 20px;
  padding-top: 20px;
}

.section__footer {
  background-color: #353535;
  color: #ffffff;
}
.section__footer .header__logo {
  font-family: "Shrikhand", sans-serif, italic;
}
.section__footer span {
  padding-left: 20px;
  align-items: center;
}
.section__footer i {
  height: 12px;
  width: 11px;
}
.section__footer a {
  color: #ffffff;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes appar {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appartX {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes apparition-bloc {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.menu-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu-restaurant {
  position: relative;
  background-color: #EAEAEA;
  border-radius: 40px 40px 0 0;
  top: -60px;
}
.menu-restaurant__div {
  padding: 0 16px;
}
.menu-restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-restaurant__header h1 {
  padding-top: 20px;
  font-family: "Shrikhand", sans-serif, italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  white-space: nowrap;
}
.menu-restaurant__header i {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .menu-restaurant {
    margin: 0 70px;
    border-radius: 20px 20px 0 0;
  }
  .menu-restaurant__div {
    padding: 0 80px;
  }
  .menu-restaurant__header {
    justify-content: center;
  }
  .menu-restaurant__header i {
    padding: 0px 24px;
    margin-bottom: -12px;
  }
}
@media screen and (min-width: 1400px) {
  .menu-restaurant {
    margin: 0 193px;
    border-radius: 20px 20px 0 0;
  }
  .menu-restaurant article {
    margin: 0 120px;
  }
  .menu-restaurant__header {
    margin-top: 50px;
    justify-content: center;
  }
  .menu-restaurant__header i {
    padding: 0px 24px;
    margin-bottom: -12px;
  }
}
@media screen and (min-width: 768px) {
  .menu-restaurant .bloc-menu {
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .menu-restaurant .bloc-menu .bloc-menu__desserts {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

article {
  font-family: "Roboto", sans-serif;
}
article h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 30px 0px 20px 0;
  position: relative;
  opacity: 0;
  animation: jump 0.4s ease-in forwards;
  transition: font-size 4s 3s;
}
article h2::after {
  content: "";
  color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
article h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  white-space: nowrap;
}
article p {
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  margin-right: 20px;
  display: inline block;
}

.card {
  opacity: 0;
  animation: appar 5s 1s ease-in-out forwards;
  position: relative;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 98%;
  margin-bottom: 20px;
  padding: 0 10px;
  cursor: pointer;
  /**/
}
.card h3 {
  margin-top: 10px;
}
.card p {
  color: #353535;
}
.card__img-box {
  height: 230px;
}
.card__desc-box {
  padding-right: 20px;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card__titre-txt {
  margin-left: 10px;
}
.card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #353535;
}
.card .icon-right {
  position: relative;
  margin-top: 16px;
  color: #000000;
  transition: color 400ms;
}
.card .icon-right-color {
  position: absolute;
  right: 1.3em;
  bottom: 2.4rem;
  color: transparent;
  opacity: 0;
}
.card:hover .icon-right-color {
  opacity: 1;
  color: rgb(219, 12, 151);
}
.card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.card__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__prix {
  padding-top: 42px;
  font-weight: bold;
}
.card:hover .card__prix {
  margin-right: 6rem;
  animation: appartX 100ms forwards;
}
.card__check {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  position: absolute;
  right: -5rem;
  border-radius: 0px 15px 15px 0px;
}
.card:hover .card__check {
  right: 0;
  animation: appartX 100ms forwards;
}
.card__checkbox {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  background-color: #ffffff;
}
.card__checkbox input {
  background-color: #99E2D0;
  color: #99E2D0;
  border: rgba(255, 255, 255, 0.5);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  display: block;
  margin: 20px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  background-color: #9356dc;
  transition: background-image 400ms;
  transition: box-shadow 500ms;
  margin: 40px auto;
}
.btn:hover {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 4px 3px 3px 4px #353535;
}

.section__footer {
  background-color: #353535;
  color: #ffffff;
}
.section__footer .header__logo {
  font-family: "Shrikhand", sans-serif, italic;
}
.section__footer span {
  padding-left: 20px;
  align-items: center;
}
.section__footer i {
  height: 12px;
  width: 11px;
}/*# sourceMappingURL=menu-style.css.map */