.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.heading img {
  height: 44px;
  width: 162px;
}
.heading i {
  position: relative;
  left: -46px;
}

body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  border: none;
  text-decoration: none;
}

#page {
  max-width: 767px;
  padding: 0;
  margin: 0;
}

.letter-space {
  letter-spacing: 0em;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-arwd {
  display: flex;
  justify-content: space-around;
}

.flex-alignement {
  display: flex;
}

footer {
  padding-left: 20px;
  padding-top: 20px;
}

.section__footer {
  background-color: #353535;
  color: #ffffff;
}
.section__footer .header__logo {
  font-family: "Shrikhand", sans-serif, italic;
}
.section__footer span {
  padding-left: 20px;
  align-items: center;
}
.section__footer i {
  height: 12px;
  width: 11px;
}
.section__footer a {
  color: #ffffff;
}

body {
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  position: relative;
}

h1, h2 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.fonc-resto {
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .fonc-resto {
    padding: 0 100px;
  }
}
@media screen and (min-width: 1400px) {
  .fonc-resto {
    padding: 0 193px;
  }
}

.formulaire {
  color: #353535;
  background-color: #D2D2D2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.formulaire input {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #353535;
  background-color: #D2D2D2;
}
.formulaire i {
  margin-right: 20px;
  margin-left: 45px;
}

.section__reservation {
  background-color: #EAEAEA;
  text-align: center;
}
.section__reservation .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  display: block;
  margin: 20px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  background-color: #9356dc;
  transition: background-image 400ms;
  transition: box-shadow 500ms;
  margin: 30px auto;
}
.section__reservation .btn:hover {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 4px 3px 3px 4px #353535;
}
.section__reservation span {
  font-weight: font(400, 16px, 20px);
  font-family: "Shrikhand", sans-serif, italic;
  color: #9356DC;
  /* position: relative;
   right: 257px;
   top: -60px;*/
}

.section__fonctionnement .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__fonctionnement .card h3 {
  margin-top: 10px;
}
.section__fonctionnement .card p {
  color: #353535;
}
.section__fonctionnement .card__img-box {
  height: 230px;
}
.section__fonctionnement .card__desc-box {
  padding-right: 20px;
}
.section__fonctionnement .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__fonctionnement .card__titre-txt {
  margin-left: 10px;
}
.section__fonctionnement .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__fonctionnement .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #353535;
}
.section__fonctionnement .card .icon-right {
  position: relative;
  margin-top: 16px;
  color: #000000;
  transition: color 400ms;
}
.section__fonctionnement .card .icon-right-color {
  position: absolute;
  right: 1.3em;
  bottom: 2.4rem;
  color: transparent;
  opacity: 0;
}
.section__fonctionnement .card__txt {
  @un;
}
.section__fonctionnement .card:hover .icon-right-color {
  opacity: 1;
  color: rgb(219, 12, 151);
}
.section__fonctionnement .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.section__fonctionnement .fonct-choix {
  background-color: #EAEAEA;
  height: 70px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.section__fonctionnement .fonct-choix__cercle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 100%;
  background-color: #9356DC;
  color: #ffffff;
  padding: 3px 6px;
}
.section__fonctionnement .fonct-choix__icon {
  margin: 18px;
  margin-top: 25px;
  color: #353535;
}
.section__fonctionnement .fonct-choix__txt {
  width: 211px;
  word-spacing: nowrap;
}
.section__fonctionnement .fonct-choix:hover .section__fonctionnement .fonct-choix__icon {
  animation: test;
  cursor: pointer;
  background-color: #F5EDFF;
  color: #9356DC;
}
.section__fonctionnement .fonct-choix__txt {
  color: black;
}
@media screen and (min-width: 768px) {
  .section__fonctionnement .section__fonctionnement h2 {
    padding-bottom: 20px;
  }
  .section__fonctionnement .section__fonctionnement .fonctionnement__choix {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
    row-gap: 20px;
  }
  .section__fonctionnement .section__fonctionnement .fonctionnement__choix div:nth-child(3) {
    grid-column: 1/-1;
    width: 49%;
    margin: 0 auto;
  }
  .section__fonctionnement .section__fonctionnement .fonctionnement__choix .fonct-choix__txt {
    color: red;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .section__fonctionnement .section__restaurant {
    padding-top: 5px;
    background-color: #EAEAEA;
    margin: 60px 0;
  }
  .section__fonctionnement .section__restaurant .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1400px) {
  .section__fonctionnement {
    height: 262px;
  }
  .section__fonctionnement .fonctionnement__choix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .section__fonctionnement .fonctionnement__choix span__txt {
    color: red;
  }
}

.section__restaurant {
  padding-top: 40px;
}
.section__restaurant .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__restaurant .card h3 {
  margin-top: 10px;
}
.section__restaurant .card p {
  color: #353535;
}
.section__restaurant .card__img-box {
  height: 230px;
}
.section__restaurant .card__desc-box {
  padding-right: 20px;
}
.section__restaurant .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__restaurant .card__titre-txt {
  margin-left: 10px;
}
.section__restaurant .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__restaurant .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #353535;
}
.section__restaurant .card .icon-right {
  position: relative;
  margin-top: 16px;
  color: #000000;
  transition: color 400ms;
}
.section__restaurant .card .icon-right-color {
  position: absolute;
  right: 1.3em;
  bottom: 2.4rem;
  color: transparent;
  opacity: 0;
}
.section__restaurant .card__txt {
  @un;
}
.section__restaurant .card:hover .icon-right-color {
  opacity: 1;
  color: rgb(219, 12, 151);
}
.section__restaurant .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.section__restaurant article {
  padding-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  .section__restaurant .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .section__restaurant h2 {
    grid-column: 1/-1;
  }
  .section__restaurant .card {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .section__restaurant .card h3 {
    margin-top: 10px;
  }
  .section__restaurant .card p {
    color: #353535;
  }
  .section__restaurant .card__img-box {
    height: 230px;
  }
  .section__restaurant .card__desc-box {
    padding-right: 20px;
  }
  .section__restaurant .card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .section__restaurant .card__titre-txt {
    margin-left: 10px;
  }
  .section__restaurant .card__titre {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .section__restaurant .card__description {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #353535;
  }
  .section__restaurant .card .icon-right {
    position: relative;
    margin-top: 16px;
    color: #000000;
    transition: color 400ms;
  }
  .section__restaurant .card .icon-right-color {
    position: absolute;
    right: 1.3em;
    bottom: 2.4rem;
    color: transparent;
    opacity: 0;
  }
  .section__restaurant .card__txt {
    @un;
  }
  .section__restaurant .card:hover .icon-right-color {
    opacity: 1;
    color: rgb(219, 12, 151);
  }
  .section__restaurant .card__new {
    background-color: #99E2D0;
    position: absolute;
    padding: 5px 9px;
    border-radius: 2px;
    right: 20px;
    top: 25px;
  }
  .section__restaurant .card__img {
    height: 230px;
    width: 341px;
  }
}

.load {
  width: 100%;
  height: 100vh;
  background-color: rgba(196, 207, 207, 0.395);
  animation: dispa 3s 3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load .loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #EAEAEA, #FF79DA);
  animation: load load-cycle 3s 1s cubic-bezier(0.6, 0.04, 0.98, 0.34) both infinite running;
}

@keyframes load {
  0% {
    opacity: 1;
    transform: rotate(360deg);
    box-shadow: 1px 2px 2px #FF79DA;
  }
  100% {
    opacity: 0;
    transform: rotate(300deg);
  }
}
@keyframes load-cycle {
  from {
    transform: scale(0);
    opacity: 0;
    box-shadow: 1px 2px 2px #FF79DA;
  }
  to {
    transform: translateX(768px);
    transform: scale(3);
    opacity: 1;
  }
}
@keyframes dispa {
  to {
    transform: scale3d(0);
    opacity: 0;
  }
}
@media screen and (min-width: 1400px) {
  .section__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section__footer .header__logo {
    order: 2;
  }
  .section__footer div {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }
}/*# sourceMappingURL=style.css.map */