/**
(
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%));
**/
.heading {
  place-self: center;
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.heading__img {
  background: #FFFFFF;
  width: 100%;
}
.heading img {
  height: 44px;
  width: 162px;
}
.heading i {
  position: relative;
  top: -15px;
  left: -46px;
}

body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  border: none;
  text-decoration: none;
}

#page {
  max-width: 767px;
  padding: 0;
  margin: 0;
}

.letter-space {
  letter-spacing: 0em;
}

.grid {
  display: grid;
  row-gap: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-arwd {
  display: flex;
  justify-content: space-around;
}

.flex-alignement {
  display: flex;
}

footer {
  padding-left: 20px;
  padding-top: 20px;
}

.section__footer {
  background-color: #353535;
  color: #ffffff;
}
.section__footer .header__logo {
  font-family: "Shrikhand", sans-serif, italic;
}
.section__footer span {
  padding-left: 20px;
  align-items: center;
}
.section__footer i {
  height: 12px;
  width: 11px;
}
.section__footer a {
  color: #ffffff;
}

body {
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 20px;
}

.formulaire {
  background-color: #D2D2D2;
  place-self: center;
  height: 50px;
}
.formulaire input {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #353535;
}
.formulaire i {
  margin-right: 20px;
  margin-left: 45px;
}

.section__reservation {
  background-color: #EAEAEA;
  text-align: center;
}
.section__reservation .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  display: block;
  margin: 20px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  background-color: #9356dc;
  transition: background-image 400ms;
  transition: box-shadow 500ms;
  margin: 0 auto;
}
.section__reservation .btn:hover {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 255, 0.2);
}
.section__reservation span {
  font-weight: font(400, 16px, 20px);
  font-family: "Shrikhand", sans-serif, italic;
  color: #9356DC;
  position: relative;
  right: 257px;
  top: -60px;
}
.section__reservation .loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #EAEAEA;
  animation: myfood 3s linear infinite;
}
.section__reservation .loading::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
@keyframes myfood {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #808b96;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #99E2D0;
  }
}

.section__fonctionnement .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__fonctionnement .card h3 {
  margin-top: 10px;
}
.section__fonctionnement .card p {
  color: #353535;
}
.section__fonctionnement .card__img-box {
  height: 230px;
}
.section__fonctionnement .card__desc-box {
  padding-right: 20px;
}
.section__fonctionnement .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__fonctionnement .card__titre-txt {
  margin-left: 10px;
}
.section__fonctionnement .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__fonctionnement .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #353535;
}
.section__fonctionnement .card .icon-right {
  margin-top: 16px;
  color: #000000;
  transition: color 400ms;
}
.section__fonctionnement .card i:hover {
  color: #9356DC;
}
.section__fonctionnement .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.section__fonctionnement .fonct-choix {
  background-color: #EAEAEA;
  height: 70px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.section__fonctionnement .fonct-choix__cercle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #9356DC;
  color: #ffffff;
  width: 24px;
  height: 24px;
  padding: 3px 6px;
  border-radius: 100%;
}
.section__fonctionnement .fonct-choix__icon {
  margin: 18px;
  margin-top: 25px;
  color: #353535;
}
.section__fonctionnement .fonct-choix:hover {
  background-color: #F5EDFF;
}
.section__fonctionnement .fonct-choix:hover__icon {
  color: #9356DC;
}

.section__fonctionnement {
  /*  @include mobile{
        display: grid;        
        background-color: rgb(13, 154, 95);
    }*/
}
@media screen and (min-width: 768px) {
  .section__fonctionnement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .section__fonctionnement h2 {
    display: none;
  }
}

.section__restaurant {
  /*@include mobile{
      display: grid;        
      background-color: rgb(216, 10, 28);
  }
  */
}
.section__restaurant .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__restaurant .card h3 {
  margin-top: 10px;
}
.section__restaurant .card p {
  color: #353535;
}
.section__restaurant .card__img-box {
  height: 230px;
}
.section__restaurant .card__desc-box {
  padding-right: 20px;
}
.section__restaurant .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__restaurant .card__titre-txt {
  margin-left: 10px;
}
.section__restaurant .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__restaurant .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #353535;
}
.section__restaurant .card .icon-right {
  margin-top: 16px;
  color: #000000;
  transition: color 400ms;
}
.section__restaurant .card i:hover {
  color: #9356DC;
}
.section__restaurant .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
@media screen and (min-width: 768px) {
  .section__restaurant {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  .section__restaurant h2 {
    display: none;
  }
  .section__restaurant .card {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 250px;
  }
  .section__restaurant .card h3 {
    margin-top: 10px;
  }
  .section__restaurant .card p {
    color: #353535;
  }
  .section__restaurant .card__img-box {
    height: 230px;
  }
  .section__restaurant .card__desc-box {
    padding-right: 20px;
  }
  .section__restaurant .card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .section__restaurant .card__titre-txt {
    margin-left: 10px;
  }
  .section__restaurant .card__titre {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .section__restaurant .card__description {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #353535;
  }
  .section__restaurant .card .icon-right {
    margin-top: 16px;
    color: #000000;
    transition: color 400ms;
  }
  .section__restaurant .card i:hover {
    color: #9356DC;
  }
  .section__restaurant .card__new {
    background-color: #99E2D0;
    position: absolute;
    padding: 5px 9px;
    border-radius: 2px;
    right: 20px;
    top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .section__footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    white-space: nowrap;
  }
  .section__footer .header__logo {
    order: 6;
  }
  .section__footer a {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */