body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input, button {
  border: none;
  text-decoration: none;
}

#page {
  max-width: 767px;
  padding: 0;
  margin: 0 auto;
}

.letter-space {
  letter-spacing: 0em;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.flex-arwd {
  display: flex;
  justify-content: space-around;
}

.flex-alignement {
  display: flex;
}

/* */
body {
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  position: relative;
}

h1, h2 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.heading {
  display: block;
  margin: auto;
  padding: 15px 0;
}
.heading img {
  height: 44px;
  width: 162px;
}

.formulaire {
  color: #353535;
  background-color: #D2D2D2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.formulaire input {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #353535;
  background-color: #D2D2D2;
}
.formulaire i {
  margin-right: 20px;
  margin-left: 45px;
}

.section__fonctionnement, .section__restaurant {
  margin: 0 16px;
}

.section__reservation {
  background-color: #EAEAEA;
  text-align: center;
}
.section__reservation .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  display: block;
  margin: 20px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  transition: background-image 400ms;
  transition: box-shadow 500ms;
  margin: 30px auto;
}
.section__reservation .btn:hover {
  box-shadow: 4px 3px 3px 4px #353535;
}
.section__reservation span {
  font-weight: font(400, 16px, 20px);
  font-family: "Shrikhand", sans-serif, italic;
  color: #9356DC;
  /* position: relative;
      right: 257px;
      top: -60px;*/
}

.section__fonctionnement .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__fonctionnement .card h3 {
  margin-top: 10px;
}
.section__fonctionnement .card p {
  color: #353535;
}
.section__fonctionnement .card__img-box {
  height: 230px;
}
.section__fonctionnement .card__desc-box {
  padding-right: 20px;
}
.section__fonctionnement .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__fonctionnement .card__titre-txt {
  margin-left: 10px;
}
.section__fonctionnement .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__fonctionnement .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section__fonctionnement .card .icon-like {
  width: 22px;
  height: 21px;
}
.section__fonctionnement .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.section__fonctionnement .fonct-choix {
  background-color: #EAEAEA;
  height: 70px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* &__txt {
   width: 211px;
   word-spacing: nowrap;
   }*/
  /* &__txt {
   color: black;
   }*/
}
.section__fonctionnement .fonct-choix__cercle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 100%;
  background-color: #9356DC;
  color: #ffffff;
  padding: 3px 6px;
}
.section__fonctionnement .fonct-choix__icon {
  margin: 18px;
  margin-top: 25px;
  color: #353535;
}
.section__fonctionnement .fonct-choix:hover .section__fonctionnement .fonct-choix__icon {
  animation: test;
  cursor: pointer;
  background-color: #F5EDFF;
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .section__fonctionnement .section__fonctionnement, .section__fonctionnement .section__restaurant {
    margin: 0;
  }
  .section__fonctionnement h2 {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .section__fonctionnement .fonctionnement__choix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
    row-gap: 20px;
  }
  .section__fonctionnement .fonctionnement__choix div:nth-child(3) {
    grid-column: 1/-1;
    margin: 0 auto;
  }
  .section__fonctionnement .fonctionnement__choix .fonct-choix {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .section__fonctionnement {
    padding: 0 180px;
  }
  .section__fonctionnement .fonctionnement__choix {
    display: flex;
    gap: 25px;
    /*  */
    /* */
  }
  .section__fonctionnement .fonctionnement__choix div:nth-child(3) {
    display: inline;
    margin: 0;
  }
  .section__fonctionnement .fonctionnement__choix .fonct-choix {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 323px;
  }
}

.section__restaurant {
  padding-top: 40px;
}
.section__restaurant .card {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.section__restaurant .card h3 {
  margin-top: 10px;
}
.section__restaurant .card p {
  color: #353535;
}
.section__restaurant .card__img-box {
  height: 230px;
}
.section__restaurant .card__desc-box {
  padding-right: 20px;
}
.section__restaurant .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section__restaurant .card__titre-txt {
  margin-left: 10px;
}
.section__restaurant .card__titre {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section__restaurant .card__description {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section__restaurant .card .icon-like {
  width: 22px;
  height: 21px;
}
.section__restaurant .card__new {
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 9px;
  border-radius: 2px;
  right: 20px;
  top: 25px;
}
.section__restaurant .card .icon-like {
  margin-top: 16px;
}
.section__restaurant article {
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section__restaurant {
    background-color: #EAEAEA;
    padding: 5px 40px;
    margin: 60px 0;
  }
  .section__restaurant .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media screen and (min-width: 992px) {
  .section__restaurant {
    padding: 0px 193px;
  }
  .section__restaurant .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .section__restaurant h2 {
    grid-column: 1/-1;
  }
  .section__restaurant .card {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .section__restaurant .card h3 {
    margin-top: 10px;
  }
  .section__restaurant .card p {
    color: #353535;
  }
  .section__restaurant .card__img-box {
    height: 230px;
  }
  .section__restaurant .card__desc-box {
    padding-right: 20px;
  }
  .section__restaurant .card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .section__restaurant .card__titre-txt {
    margin-left: 10px;
  }
  .section__restaurant .card__titre {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .section__restaurant .card__description {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .section__restaurant .card .icon-like {
    width: 22px;
    height: 21px;
  }
  .section__restaurant .card__new {
    background-color: #99E2D0;
    position: absolute;
    padding: 5px 9px;
    border-radius: 2px;
    right: 20px;
    top: 25px;
  }
  .section__restaurant .card__img {
    width: 341px;
  }
}

/* */
.section__footer {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: row;
  background-color: #353535;
  color: #ffffff;
}
.section__footer .header__logo {
  font-family: "Shrikhand", sans-serif, italic;
}
.section__footer a {
  color: #ffffff;
}
.section__footer i {
  margin-right: 20px;
}
.section__footer .header__logo {
  margin-left: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
}
.section__footer .footer__icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.section__footer .footer__contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .section__footer {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }
  .section__footer .header__logo {
    order: 2;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .section__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .section__footer .header__logo {
    margin-left: 35px;
    order: 2;
  }
  .section__footer .footer__icon {
    flex-direction: row;
    gap: 40px;
  }
  .section__footer .footer__contact {
    flex-direction: row;
    gap: 40px;
  }
}

/**/
.load {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  background-color: rgba(210, 210, 210, 0.8784313725);
  animation: loader 4s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  /**/
  /**/
  /**/
}
.load__rond {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 0px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 50%);
}
.load__rond:nth-child(1) {
  border-top-width: 15px;
  border-color: #FF79DA;
  animation: rotate-a 2s linear infinite;
}
.load__rond:nth-child(2) {
  border-right-width: 15px;
  border-color: #9356DC;
  animation: rotate-b 2s linear infinite;
}
.load__rond:nth-child(3) {
  border-left-width: 15px;
  border-color: #99E2D0;
  animation: rotate-c 2s linear infinite;
}
.load .header__logo {
  position: relative;
  font-family: "Shrikhand", sans-serif, italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.load .header__logo i {
  width: 20px;
  height: 18px;
  position: absolute;
  padding: 0px 35px;
}

/* .fonc-resto {

 }*//*# sourceMappingURL=style.css.map */