@import "./utils/_vars";
@import "./utils/_mixins";
@import "./breakpoints.scss";
@import "./layouts/header";
@import "./layouts/body";
@import "./components/buttons";
@import "./components/cards";
@import "./layouts/footer";

h1,
h2 {
    padding-top: $padding-top;
    padding-bottom: $margin;
}

// formulaire de recherche d'un restaurant
.formulaire {
    color: $color-gray-3;
    background-color: $color-gray-1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    input {
        @include font(500, 16px, 18px);
        color: $color-gray-3;
        background-color: $color-gray-1;
    }

    i {
        margin-right: 20px;
        margin-left: 45px;
    }
}

// reservation menu explorer et decouvrir les restaurants

.section__reservation {
    background-color: $color-gray-2;
    text-align: center;

    .btn {
        @include button($color-txt, $color-gray-3);
        margin: 30px auto;
    }

    span {
        font-weight: font(400, 16px, 20px);
        font-family: $font-fam-header;
        color: $primar-color;
    }
}

// fonctionnement : choix des menus
.section__fonctionnement {
    .card {
        @include card;
    }

    .fonct-choix {
        background-color: $color-gray-2;
        height: 70px;
        margin-bottom: 25px;
        @include font(500, 16px, 19px);

        &__cercle {
            @include font(500, 14px, 17px);
            @include cercle;
            background-color: $primar-color;
            color: $color-txt;
            padding: 3px 6px;
        }

        &__icon {
            margin: 18px;
            margin-top: 25px;
            color: $color-gray-3;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-primar-2;

            .fonct-choix__icon {
                color: $primar-color;
            }
        }
    }

    @include tablette {
        padding: 0 40px;
        margin: 0;

        h2 {
            padding-top: 60px;
            padding-bottom: 20px;
        }

        .fonctionnement__choix {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 35px;

            //row-gap: 20px;
            div:nth-child(3) {
                // display:inline-block;
                grid-column: 1 / -1;
                margin: 25px auto;
            }

            .fonct-choix {
                @include font(500, 16px, 18px);
                width: 350px;
            }
        }

    }

    //  medias query pour desktop
    @include desck {

        /**/
        h2 {
            padding: 0;
            margin: 0;
            padding-top: 50px;
            margin-bottom: -20px;
        }

        /**/

        padding: 0 180px;
        height: 240px;

        .fonctionnement__choix {
            display: flex;
            gap: 35px;

            /*  */
            div:nth-child(3) {
                display: inline;
                margin: 0;
            }

            /* */
            .fonct-choix {
                @include font(500, 16px, 19px);
                width: 323px;
            }
        }
    }
}

.formulaire,
.section__reservation {
    @include desck {
        max-width: 1445px;
       // padding: 0 400px;
    }
}

.section__fonctionnement,
.section__restaurant {
    margin: 0 16px;

    @include tablette {
        margin: 0;
    }
}

// les differents restaurant à la carte
.section__restaurant {
    padding-top: $padding-top;

    .card {
        @include card;

        .icon-like {
            margin-top: 16px;
        }
    }

    article {
        padding-bottom: $margin-bor;
        max-width: 100%;
    }

    // media query tablette // restaurants
    @include tablette {
        background-color: $color-gray-2;
        padding: 0 43px;
        margin-top: 25px;
        padding-bottom: 40px;

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
        }
        article {
            max-width: 100%;
        }
    }

    // media query desktop
    @include desck {
        padding: 0px 193px;
        max-width: 1445px;  
        overflow-x: auto;      
        overflow-y: hidden;      
        white-space: nowrap;

        /* */
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 25px;
        }

        h2 {
            grid-column: 1 / -1;
        }
        .card {
            @include card;
            width: 355px;
        }
    }
}

/**/
