@mixin font-btn {
  @include font(500, 16px, 19px);
  text-align: center;
}

@mixin button($color-txt, $hover-color) {
  @include font-btn;
  color: $color-txt;
  border: none;
  display: block;
  margin: 20px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  @include gardient;
 transition: background-image 400ms;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
    opacity:0.8;
    box-shadow:0px 7px 25px 5px $color-gray-1 ;
  }

 
}
