.card__check {
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  //background-color:$terti-color;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__checkbox {
  i {
    visibility: hidden;
    border-radius: 100%;
    font-size: 25px;
    background-color: white;
    color: #99e2d0;
    text-align: center;
  }
}
