//CARTE AVEC ARGUMENT MIXIN

// la carte sur les menu ets differents de ce lui du restaurant donc 2 carte different

// fonction retour de valeur comme calcul des couleur de grader

//bouttons

@mixin gardient() {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}

@mixin font-style {
  font-style: italic;
}

@mixin center {
  display: block;
  margin: auto;
}
@mixin flex-arwnd {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin grid {
  display: grid;
}

@mixin cercle {
  border-radius: 100%;
}

@mixin txt-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin overflow {
  overflow: hidden;
}

@mixin padding-block($top, $left-right) {
  padding-block: $top $left-right;
  writing-mode: horizontal-tb;
}

// les fontS

@mixin font($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-fam-header {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: bold;
}

@mixin font-fam-body {
  font-family: Roboto;
}

@mixin font-weight {
  font-weight: bold;
}

@mixin hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
}

@mixin footer {
  background-color: $color-gray-3;
  color: $color-txt;
  /* */
  .header__logo {
    @include font-fam-header;
  }
  /**/
}

@mixin loop {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: 0.2s * $i;
    }
  }
}
