//CARTE AVEC ARGUMENT MIXIN

// la carte sur les menu ets differents de ce lui du restaurant donc 2 carte different

// fonction retour de valeur comme calcul des couleur de grader

//bouttons

@mixin gardient() {
   background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}

@mixin font($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin center {
  display: flex;
  justify-content: center;
 // align-items: center;
}

@mixin flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin grid{
  display: grid;
}


@mixin cercle {
  border-radius: 100%;
}

@mixin txt-ellipsis{
 
  text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

@mixin padding-block($top, $left-right){
  padding-block: $top $left-right;
  writing-mode: horizontal-tb
}


@mixin loop{
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: 0.2s*$i;
    }
  }
}

