//CARTE AVEC ARGUMENT MIXIN

// la carte sur les menu ets differents de ce lui du restaurant donc 2 carte different

// fonction retour de valeur comme calcul des couleur de grader

//bouttons


@mixin gardient() {
  background-color: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}

@mixin font($font-weight, $font-size, $line-heigh) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-heigh;
}

@mixin center {
  place-self: center;
}
