// variables

$primar-color: #9356DC;
$second-color: #FF79DA;
$terti-color: #99E2D0;
$bckg-gray:#EAEAEA;
$font-fam:('Roboto', 'Shrikhand', sans-serif);
$shadow:(0 42px 13.37px hotpink);
$height-img: 230px !default;