// variables couleurs

$primar-color: #9356DC;
$color-primar-2:#F5EDFF;
$second-color: #FF79DA;
$terti-color: #99E2D0;

$color-txt: #ffffff;

$color-gray-1:#D2D2D2;
$color-gray-2:#EAEAEA;
$color-gray-3:#353535;

$color-black:#000000;

// borders
$border:15px;



// les backgrounds

$bckg-color-btn:$primar-color;

// les font-family

$font-fam-body:('Roboto', sans-serif);
$font-fam-header:('Shrikhand', sans-serif, italic);
$font-weight-bold: bold;

// les marges 

$margin:10px;
$margin-bor:20px;
$padding-top: 40px;


$shadow:(0 42px 13.37px hotpink);

$hover-color: $terti-color;






