/* */
// footer
/* */
.section__footer {
  position: relative;
  top:40px;
    padding-left: $margin-bor;
    padding-top: $margin-bor;
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;    
    @include footer;
    a {
      color: $color-txt;
    }
    i {
      margin-right: 20px;
    }
    .header__logo {
      margin-left: 0;
      margin-bottom: 16px;
      @include font(400, 18px, 27px);
      @include font-style;
      font-family: $font-fam-header;
    }
    .footer__icon {
      @include font(500, 16px, 18px);
    }
    .footer__contact {
      @include font(400, 16px, 18px);
    }

     @include tablette {
      top:-10px;
       padding-left: 40px;
       padding-right: 42px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       gap: 40px;
       .header__logo {
         // @include center;
         order: 2;
         margin-right: 0;
       }
    }

    @include desck {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        .header__logo {
          margin-left: 35px;
          order: 2;
        }
        .footer__icon {
            display: flex;
          flex-direction: row;
          gap: 40px;
        }
        .footer__contact {
            display: flex;
          flex-direction: row;
          gap: 40px;
        } 
      }
   }