

/*footer {
  padding-left: $margin-bor;
  padding-top: $margin-bor;
}

@mixin footer {
  background-color: $color-gray-3;
  color: $color-txt;
  .header__logo {
    font-family: $font-fam-header;
  }
  span {
    padding-left: 20px;
    align-items: center;
  }
  i {
    height: 12px;
    width: 11px;
  }
}
/*
.section__footer{
    @include footer; 
    a{
      color: $color-txt;
    }
  }*/

// footer
/*
.section__footer {
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;

  i {
    margin-right: 20px;
  }

  .header__logo {
    margin-left: 0;
    margin-bottom: 16px;
    @include font(400, 18px, 27px);
    @include font-style;
  }
  .footer__icon {
    @include font(500, 16px, 18px);
  }
  .footer__contact {
    @include font(400, 16px, 18px);
  }

  @include tablette {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    .header__logo {
      // @include center;
      order: 2;
      margin-right: 0;
    }

    @include desck {
      display: flex;
      justify-content: center;
      .header__logo {
        margin-left: 35px;
        order: 2;
      }
      .footer__icon {
        flex-direction: row;
        gap: 40px;
      }
      .footer__contact {
        flex-direction: row;
        gap: 40px;
      } 
    }
  }
}
*/