.heading{
    place-self: center;
   
    

/* Shadow/Badge */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    &__img{
        background: #FFFFFF;
        width: 100%;

    }

    img{
        //object-fit: cover;   
        height: 44px;
        width: 162px;        
    }

    i{
        position: relative;
        top: -15px;
        left: -46px;      
    }

}






