.heading{
    place-self: center;
   // height:63px;
    padding-top:20px;

    img{
        height: 44px;
        width: 162px;            
    }

    i{
        position: relative;
        top: -15px;
        left: -46px;      
    }

}






